.css-1i5e699-MuiTypography-root.active {
  background-color: #e0e0e0;
  color: #616161;
}
.css-1m3nodq:hover {
  background-color: #e0e0e0;
  color: #616161;
}
.css-vubbuv:hover {
  background-color: unset !important;
}
.css-egaw03 :hover {
  background-color: unset !important;
}
